header{
    display:none;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    position: relative
}

.login-form{
    padding: 2%;
    background: rgba(0, 98, 204,0.7);
    border-radius: 10%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    width: 20%
}

.login-form h3 , h1{
    text-align: center;
    color: #fff;
    font-size: 100%;
}


.login-form .btnSubmit{
    width: 75%;
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

li{
    color: red;
    font-size: 100%;
}
