.login-container{
    text-align: center;
    padding: 10px;
}

.login-form{
    padding: 1%;
    margin: auto;
    margin-top: 3%;
    background: rgba(40, 134, 237, 0.7);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%;
    width: 30%;
    height: 30%;
}
.login-form h3{
    text-align: center;
    color: white;
    font-size: 130%;
}

.login-form h1{
    text-align: center;
    color: white;
    font-size: 150%;
}

.login-form div{
    color: white;
}

.login-form input{
    border-radius: 1rem;
    font-size: 75%;
    padding: 1%;
    border: 0px;
    width: 75%;
    color: black;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 0.5%;
    border: none;
    cursor: pointer;
    font-weight: 550;
    color: #0062cc;
    background-color: #fff;
}



