header{
  display: none;
}


.login-container{
    text-align: center;
    padding: 15px;
}

.login-form{
    padding: 1rem;
    margin:auto;
    margin-top: 3%;
    background: rgba(40, 134, 237, 0.7);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%;
    width: 30%;
    height: 55%;

    
}
.login-form h3{
    text-align: center;
    color: white;
    font-size: 130%;
}

.login-form h1{
    text-align: center;
    color: white;
    font-size: 150%;
}

.login-form input{
    border-radius: 1rem;
    font-size: 75%;
    padding: 1%;
    border-bottom-color: pink;
    width: 75%
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

